/* #region debug */

/* .debug .sidebar {
    background-color: aqua;
} */

.debug .content {
    background-color: blueviolet;
}

/* #endregion debug */

/* #region utilities */

:root {
    --sidebar: #051e34;
    --primary: #f8f9fa;
    --secondary: #e5e5e5;
    --blue-head: #1b72e8;
    --badge-darkblue: #165cbd;
    --orangetable: #f26551;
}

.bg_darkblue {
    background-color: var(--badge-darkblue);
}

.bg_sidebar {
    background-color: var(--sidebar);
}

/* #endregion utilities */

/* #region top */

.top {
    height: 65px;
    width: 100%;
}

.top nav {
    height: 65px;
}

/* #endregion top */

/* #region bottom*/

/* sidebar */

.bottom>.sidebar {
    width: 70px;
    overflow-y: hidden;
    height: calc(100vh - 65px);
    background-image: url(../img/sidebar-bg.png);
}

/* main header */

#main_header {
    height: 200px;
    background-color: var(--blue-head);
    width: 100%;
}

/* maincontent */

.bottom>.content {
    width: calc(100% - 70px);
    overflow-y: auto;
    height: calc(100vh - 65px);
}

.bg_orange_rounded {
    background-color: var(--orangetable);
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width: 35px;
    height: 35px;
    color: white;
}

.main_content td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
}

/* #endregion bottom*/

/* #region mediaquery */

@media screen and (min-width: 992px) {

    .bottom>.sidebar {
        width: 150px;
    }

    .bottom>.content {
        width: calc(100% - 150px);
    }

    #offcanvasRight,
    .w_lg_50 {
        width: 50%;
    }


}

@media screen and (max-width: 991.98px) {
    #offcanvasRight {
        width: 100%;
    }
}

#jump {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}

/* #endregion mediaquery */