/* #region debug */

/* .debug .sidebar {
    background-color: aqua;
} */

.debug .content {
    background-color: blueviolet;
}

/* #endregion debug */

/* #region utilities */

:root {
    --sidebar: #051e34;
    --primary: #f8f9fa;
    --secondary: #e5e5e5;
    --blue-head: #1b72e8;
    --badge-darkblue: #165cbd;
    --orangetable: #f26551;
    --ringbell: #ff8f00;
}

.bg_darkblue {
    background-color: var(--badge-darkblue);
}

.bg_sidebar {
    background-color: var(--sidebar);
}

.text_ringbell {
    color: var(--ringbell);
}

.bg_primary {
    background-color: var(--primary);
}

/* #endregion utilities */

/* #region top */

.top {
    height: 65px;
    width: 100%;
}

.top nav {
    height: 65px;
}

/* #endregion top */

/* #region color picker */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker>fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    background: #ffffff85;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
    --radio-color: rgb(252, 156, 215);
}

.color-picker input[type="radio"]#blue {
    --radio-color: rgb(4, 247, 255);
}

.color-picker input[type="radio"]#green {
    --radio-color: rgb(2, 252, 2);
}

.color-picker input[type="radio"]#dark {
    --radio-color: #232323;
}

.pink {
    --sidebar: #ee59ee;
    --primary: #8e5fbb;
    --secondary: #e5e5e5;
    --blue-head: #961be8;
    --badge-darkblue: #ad3cf8;
    --orangetable: #7007fa;
    --ringbell: #00d3f8;
}

:root:has(#pink:checked) {
    --sidebar: #ee59ee;
    --primary: #8e5fbb;
    --secondary: #e5e5e5;
    --blue-head: #961be8;
    --badge-darkblue: #ad3cf8;
    --orangetable: #7007fa;
    --ringbell: #00d3f8;
}

.blue {
    --sidebar: #5995ee;
    --primary: #1c3147;
    --secondary: #e5e5e5;
    --blue-head: #1bc9e8;
    --badge-darkblue: #3c87f8;
    --orangetable: #5f4bbb;
    --ringbell: #00f8a5;
}

:root:has(#blue:checked) {
    --sidebar: #5995ee;
    --primary: #1c3147;
    --secondary: #e5e5e5;
    --blue-head: #1bc9e8;
    --badge-darkblue: #3c87f8;
    --orangetable: #5f4bbb;
    --ringbell: #00f8a5;
}

.green {
    --sidebar: #66f3ac;
    --primary: #727000;
    --secondary: #e5e5e5;
    --blue-head: #24e645;
    --badge-darkblue: #3cf8a0;
    --orangetable: #04f0b5;
    --ringbell: #00f8a5;
}

:root:has(#green:checked) {
    --sidebar: #66f3ac;
    --primary: #727000;
    --secondary: #e5e5e5;
    --blue-head: #24e645;
    --badge-darkblue: #3cf8a0;
    --orangetable: #04f0b5;
    --ringbell: #00f8a5;
}

.dark {
    --sidebar: #0a0f0b;
    --primary: #3b3b3d;
    --secondary: #e5e5e5;
    --blue-head: #171a18;
    --badge-darkblue: #363b39;
    --orangetable: #000000;
    --ringbell: #ff00f2;
}

:root:has(#dark:checked) {
    --sidebar: #0a0f0b;
    --primary: #3b3b3d;
    --secondary: #e5e5e5;
    --blue-head: #171a18;
    --badge-darkblue: #363b39;
    --orangetable: #000000;
    --ringbell: #ff00f2;
}

/* #endregion color picker */

/* #region bottom*/

/* sidebar */

.bottom>.sidebar {
    width: 70px;
    overflow-y: hidden;
    height: calc(100vh - 65px);
    background-image: url(../img/sidebar-bg.png);
}

a.nav-link.text-white:hover {
    background-color: rgba(162, 194, 221, 0.493);
}

/* main header */

#main_header {
    height: 200px;
    background-color: var(--blue-head);
    width: 100%;
}

/* maincontent */

.bottom>.content {
    width: calc(100% - 70px);
    overflow-y: auto;
    height: calc(100vh - 65px);
}

.bg_orange_rounded {
    background-color: var(--orangetable);
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width: 35px;
    height: 35px;
    color: white;
}

.main_content td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
}

/* #endregion bottom*/

/* #region mediaquery */

@media screen and (min-width: 992px) {

    .bottom>.sidebar {
        width: 150px;
    }

    .bottom>.content {
        width: calc(100% - 150px);
    }

    #offcanvasRight,
    .w_lg_50 {
        width: 50%;
    }


}

@media screen and (max-width: 991.98px) {
    #offcanvasRight {
        width: 100%;
    }
}

#jump {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}

/* #endregion mediaquery */